################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/WebApp/obj
/WebApp/.vs
/Platform/Platform/obj
/Platform/.vs
